@import url("https://fonts.cdnfonts.com/css/satoshi");

@import "tailwindcss";

@theme {
  --font-satoshi: "Satoshi", "sans-serif";
}

.X53v391{
  height: calc(95vh - 2rem);
  display: flex;
  align-items: center;
  margin: 2rem;
}
