.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 10% !important;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #edeef6;
  opacity: 0.5;
  border-radius: 9999px;
  transition: all 0.3s ease-in-out;
  margin: 0 ;
}

.swiper-pagination-bullet-active {
  width: 24px;
  background-color: #fff;
  opacity: 1;
  border-radius: 10px;
}

.swiper-pagination-bullet-active {
  transform: scale(1.1);
}
